body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

.card {
  background: #222;
  margin: 15px 0;
  padding: 20px;
  border-radius: 12px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

button {
  margin-top: 20px;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: #00ff88;
  color: black;
}